<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h1{
      text-align: center;
      margin-bottom: 20px;
    }

    .texto {
      margin-bottom: 20px;
      text-align: center;
    }
    .link {
      all: unset;
      background-color: #d13201;
      padding: 6px 14px;
      border-radius: 8px;
      color: white;
      text-align: center;
      margin: 0 auto;
      width: 200px;
    }

    a{
      text-decoration: unset;
      font-weight: bold;
      color: white;
    }
  </style>
  <title>Email</title>
</head>
<body>
  <h1>Olá, {{ nome }}!</h1>
  <p class="texto">Clique no botão abaixo pra alterar sua senha de acesso ao site Cubos Food.</p>
  <div class="link">
    <a href="http://localhost:3000/redefinir-senha/{{token}}" target="_blank">Click aqui para recuperar</a>
  </div>
</body>
</html>